<footer id="footer">
	<div class="container footer-bottom clearfix">
		<div class="copyright">
			<a href="https://www.limayrac.fr/" class="logo me-auto" target="_blank"><img src="../assets/img/limayrac.png"></a>
		</div>
		<div class="credits">
			Crée par
			<a href="https://www.limayrac.fr/formation/expert-systemes-information/" target="_blank">Matthieu Boubée de Gramont - Clément Bluzat - Timothee Marrec - Gaspard Lemoine (Master ESI)</a>
		</div>
	</div>
</footer>
